<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <!-- Navbar -->
  <div class="navbar">
    <div class="container">
      <!-- navigation links -->
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/">Logout</a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="container main-content">
    {{{body}}}
  </div>

  <!-- javascript file to main.js -->
  <script src="/js/logout.js"></script> 

</body>
</html>
